<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style type="text/css">
        h6 {
	    margin-bottom: 0px;
	    text-align: center;
	    width: 100px,
	    margin-top: 100px;
	    }
		hr { 
	    width: 50%; 
	    height: 2px; 
        margin: 0 auto;
	    color: #f29222;
	    background: #f29222;
        }
		.content {
        margin-top: 50px;    
        margin-bottom: 60px;
        text-align: center;
        max-width:820px;
        margin: 0 auto;
        }
	</style>
    <div class="container">
        <div class="content">
            <img src="https://cloud.illuna-minetest.tk/index.php/apps/files_sharing/ajax/publicpreview.php?x=500&y=726&a=true&file=lswspora.png&t=LVSW47Udr94GrfM&scalingup=0">
            <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>			
			<h3><font color="f29222"><b>Herzlich willkommen auf dem </font><a href="http://lsw.io"><font color="f29222"> Linux statt Windows.org</a> diaspora* Pod! </font></b></h3>
            <h4><font color="f13c22"><b>Dieser Pod befindet sich noch in der geschlossenen Aufbauphase.<br>
                Wir freuen uns, dich hier bald begrüßen zu dürfen.</font></b></h4>
			<hr>
            <h4><a href="https://diasporafoundation.org/"><font color="f29222"><b><i>diaspora*</i></a> - ein soziales Netzwerk. Entwickelt von der Community, für die Community!</b></h4>
            
            <h5>Seit dem 27sten August, 2012, wird Diaspora vollständig von Freiwilligen entwickelt.<br> 
                Dies ermöglicht dem Projekt unglaublich schnell und großartig zu wachsen! <br>
                Neue Funktionen, Designs und Verbesserungen haben ihren Weg in den Diaspora-Code gefunden, <br> 
                so hat sich das Projekt weit über die Erwartungen seiner ursprünglichen Gründer heraus entwickeln können. 
            </h5></font>
            <h6 margin-top:"100px"><font color="f29222"><b>Ein Projekt von:</b></font><br>
                <a href="https://linux-statt-windows.org"><img src="https://media.tchncs.de/mgoblin_media/media_entries/72/site-logo_1.png" width="10%"></a></h6>			
        </div>
    </div>

